<a href="https://colab.research.google.com/github/jeniferSamper/Persitencia-DatosTransaccionales/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
import numpy as np

In [147]:
USUARIO = {
    'IdUsuario': [1, 2, 3, 4, 5],
    'Nombre': ['Andrea', 'Carlos', 'Luisa', 'Jorge', 'Tatiana'],
    'Correo': [
        'Andrea01@gmail.com',
        'carlos22@gmail.com',
        'luisa98@gmail.com',
        'jorge45@gmail.com',
        'tati01@gmail.com'
    ],
    'Telefono': ['3203113669', '3102223344', '3001112233', '3114455667', '3157788990'],
    'PuntosAcumulados': [10, 25, 40, 15, 30]
}

dfUsuario = pd.DataFrame(USUARIO)
print(dfUsuario)

   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                10
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990                30

In [135]:
SISTEMA = {
    'IdSistema':[1],
    'Nombre':['Sistema de Recoleccion y Recompensa Ecologica'],
    'Objetivo':['Gestionar usuarios, residuos plasticos, puntos de recoleccion y el canje de recompensas por medio de puntos acumulados'],
    'Politicas':['Promover el reciclaje, garantizar la trazabilidad de los residuos, proteger los datos de los usuarios y conectar empresas con consumidores responsables']
 }

dfSistema = pd.DataFrame(SISTEMA)
print(dfSistema)

   IdSistema                                         Nombre  \
0          1  Sistema de Recoleccion y Recompensa Ecologica

                                            Objetivo  \
0  Gestionar usuarios, residuos plasticos, puntos...

                                           Politicas
0  Promover el reciclaje, garantizar la trazabili...

In [136]:
RESIDUO = {
    'IdResiduo': [1, 2, 3, 4, 5],
    'TipoResiduo': [
        'Plastico PET',
        'Carton',
        'Vidrio',
        'Metal',
        'Plastico HDPE'
    ],
    'Peso': [2.5, 1.2, 3.8, 0.9, 4.1],  # en kg
    'FechaRecolecta': [
        '2025-11-17',
        '2025-11-18',
        '2025-11-16',
        '2025-11-19',
        '2025-11-17'
    ]
}

dfResiduo = pd.DataFrame(RESIDUO)
print(dfResiduo)

   IdResiduo    TipoResiduo  Peso FechaRecolecta
0          1   Plastico PET   2.5     2025-11-17
1          2         Carton   1.2     2025-11-18
2          3         Vidrio   3.8     2025-11-16
3          4          Metal   0.9     2025-11-19
4          5  Plastico HDPE   4.1     2025-11-17

In [137]:
PUNTO_RECOLECCION = {
    'IdPunto': [1, 2, 3, 4, 5],
    'Ubicacion': [
        'Centro Comercial Imperial',
        'Parque La Colina',
        'Universidad Nacional',
        'Centro Comercial Titan Plaza',
        'Barrio Suba - Estacion de Reciclaje'
    ],
    'Horario': [
        'Lunes a Sabado 8am - 5pm',
        'Lunes a Viernes 9am - 4pm',
        'Martes a Domingo 7am - 3pm',
        'Todos los dias 8am - 6pm',
        'Lunes a Sabado 7am - 1pm'
    ]
}
dfPuntoRecoleccion = pd.DataFrame(PUNTO_RECOLECCION)
print(dfPuntoRecoleccion)

   IdPunto                            Ubicacion                     Horario
0        1            Centro Comercial Imperial    Lunes a Sabado 8am - 5pm
1        2                     Parque La Colina   Lunes a Viernes 9am - 4pm
2        3                 Universidad Nacional  Martes a Domingo 7am - 3pm
3        4         Centro Comercial Titan Plaza    Todos los dias 8am - 6pm
4        5  Barrio Suba - Estacion de Reciclaje    Lunes a Sabado 7am - 1pm

In [138]:
CUPON = {
    'IdCupon': [1, 2, 3, 4, 5],
    'Valor': [100, 200, 150, 300, 250],  # valor en puntos
    'Descripcion': [
        '10% de descuento en compras superiores a $100',
        'Envio gratis en la proxima compra',
        '15% de descuento en productos seleccionados',
        '2x1 en productos ecologicos',
        '20% de descuento en compras superiores a $150'
    ]
}

dfCupon = pd.DataFrame(CUPON)
print(dfCupon)

   IdCupon  Valor                                    Descripcion
0        1    100  10% de descuento en compras superiores a $100
1        2    200              Envio gratis en la proxima compra
2        3    150    15% de descuento en productos seleccionados
3        4    300                    2x1 en productos ecologicos
4        5    250  20% de descuento en compras superiores a $150

In [139]:
EMPRESA = {
    'IdEmpresa': [1, 2, 3, 4, 5],
    'Nombre': [
        'Totto',
        'Rappi',
        'Avianca',
        'Grupo Exito',
        'Bavaria'
    ],
    'Correo': [
        'contacto@totto.com',
        'servicio@rappi.com',
        'info@avianca.com',
        'clientes@exito.com',
        'contacto@bavaria.co'
    ],
    'Direccion': [
        'Calle 45 #12-30, Bogota',
        'Calle 93 #12-30, Bogota',
        'Avenida El Dorado #79-01, Bogota',
        'Avenida 68 #75-50, Bogota',
        'Calle 127 #53-50, Bogota'
    ],
    'TipoProducto': [
        'Productos reciclados',
        'Entrega de domicilios',
        'Transporte aereo',
        'Retail y supermercados',
        'Bebidas y cervezas'
    ]
}


df_empresa = pd.DataFrame(EMPRESA)
print(df_empresa.to_string(index=False))

 IdEmpresa      Nombre              Correo                        Direccion           TipoProducto
         1       Totto  contacto@totto.com          Calle 45 #12-30, Bogota   Productos reciclados
         2       Rappi  servicio@rappi.com          Calle 93 #12-30, Bogota  Entrega de domicilios
         3     Avianca    info@avianca.com Avenida El Dorado #79-01, Bogota       Transporte aereo
         4 Grupo Exito  clientes@exito.com        Avenida 68 #75-50, Bogota Retail y supermercados
         5     Bavaria contacto@bavaria.co         Calle 127 #53-50, Bogota     Bebidas y cervezas

In [140]:
TRANSACCION = {
    'IdTransaccion': [1, 2, 3, 4, 5],
    'Fecha': [
        '2025-11-15',
        '2025-11-16',
        '2025-11-17',
        '2025-11-18',
        '2025-11-19'
    ],
    'PuntosAcumulados': [20, 35, 10, 50, 15],
    'IdCupon': [1, 2, 3, 1, 2],
    'IdUsuario': [1, 2, 3, 4, 1],
    'IdResiduo': [1, 2, 3, 4, 5],
}

dfTransaccion = pd.DataFrame(TRANSACCION)
print(dfTransaccion)

   IdTransaccion       Fecha  PuntosAcumulados  IdCupon  IdUsuario  IdResiduo
0              1  2025-11-15                20        1          1          1
1              2  2025-11-16                35        2          2          2
2              3  2025-11-17                10        3          3          3
3              4  2025-11-18                50        1          4          4
4              5  2025-11-19                15        2          1          5

In [141]:
# Consultas select en python panda

# traer nombre y correo de los usurios
Consulta1 = dfUsuario[['Nombre', 'Correo']]
print(Consulta1)
print("\n")

# traer usuarios con mas de 20 puntos
Consulta2 = dfUsuario[dfUsuario['PuntosAcumulados'] > 20]
print(Consulta2)
print("\n")

# traer cupones menores a 200 puntos
Consulta3 = dfCupon[dfCupon['Valor'] < 200]
print(Consulta3)
print("\n")

    Nombre              Correo
0   Andrea  Andrea01@gmail.com
1   Carlos  carlos22@gmail.com
2    Luisa   luisa98@gmail.com
3    Jorge   jorge45@gmail.com
4  Tatiana    tati01@gmail.com


   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
4          5  Tatiana    tati01@gmail.com  3157788990                30


   IdCupon  Valor                                    Descripcion
0        1    100  10% de descuento en compras superiores a $100
2        3    150    15% de descuento en productos seleccionados

In [142]:
# Consultas INNER JOIN en python panda


inner_join = dfTransaccion.merge(dfUsuario, on='IdUsuario', how='inner')
# Filtrar por IdUsuario = 5
Consulta4 = inner_join[inner_join['IdUsuario'] == 2]
print(Consulta4.to_string(index=False))
print("\n")


# Filtrar por IdUsuario = 3
Consulta5 = inner_join[inner_join['IdUsuario'] == 3]
print(Consulta5.to_string(index=False))
print("\n")

# Filtrar por IdUsuario = 1
Consulta6 = inner_join[inner_join['IdUsuario'] == 1]
print(Consulta6.to_string(index=False))
print("\n")

 IdTransaccion      Fecha  PuntosAcumulados_x  IdCupon  IdUsuario  IdResiduo Nombre             Correo   Telefono  PuntosAcumulados_y
             2 2025-11-16                  35        2          2          2 Carlos carlos22@gmail.com 3102223344                  25


 IdTransaccion      Fecha  PuntosAcumulados_x  IdCupon  IdUsuario  IdResiduo Nombre            Correo   Telefono  PuntosAcumulados_y
             3 2025-11-17                  10        3          3          3  Luisa luisa98@gmail.com 3001112233                  40


 IdTransaccion      Fecha  PuntosAcumulados_x  IdCupon  IdUsuario  IdResiduo Nombre             Correo   Telefono  PuntosAcumulados_y
             1 2025-11-15                  20        1          1          1 Andrea Andrea01@gmail.com 3203113669                  10
             5 2025-11-19                  15        2          1          5 Andrea Andrea01@gmail.com 3203113669                  10

In [143]:
# Consultas UNION en python panda

# traer los id de los usuarios y nombres que han realizado transacciones
Consulta7 = pd.merge(
    dfUsuario[['IdUsuario', 'Nombre']],  # columnas de usuario
    dfTransaccion[['IdUsuario']],        # columnas de transaccion
    on='IdUsuario',                      # columna clave para unir
    how='inner'                          # INNER JOIN
)
print(Consulta7)
print("\n")

#traer los id de los usuarios con los id de los cupones usados y sus valores

Consulta8 = pd.merge(
    dfTransaccion[['IdUsuario', 'IdCupon']],  # tomamos solo estas columnas
    dfCupon[['IdCupon', 'Valor']],           # unimos con valor del cupón
    on='IdCupon',                             # clave de unión
    how='inner'                               # INNER JOIN
)

print(Consulta8)
print("\n")

# traer IdUsuario, IdResiduo y Nombre del usuario y fecha en la que se llevo el residuo
Consulta9 = pd.merge(
    dfTransaccion[['IdUsuario', 'IdResiduo', 'Fecha']],  # columnas de Transaccion
    dfUsuario[['IdUsuario', 'Nombre']],                  # columnas de Usuario
    on='IdUsuario',                                     # clave de unión
    how='inner'                                        # INNER JOIN
)

print(Consulta9)

   IdUsuario  Nombre
0          1  Andrea
1          1  Andrea
2          2  Carlos
3          3   Luisa
4          4   Jorge


   IdUsuario  IdCupon  Valor
0          1        1    100
1          2        2    200
2          3        3    150
3          4        1    100
4          1        2    200


   IdUsuario  IdResiduo       Fecha  Nombre
0          1          1  2025-11-15  Andrea
1          2          2  2025-11-16  Carlos
2          3          3  2025-11-17   Luisa
3          4          4  2025-11-18   Jorge
4          1          5  2025-11-19  Andrea

In [144]:
# Consultas de UPDATE en python panda

# Consulta 10 suma 50 puntos al usuario con id 1
dfUsuario.loc[dfUsuario['IdUsuario'] == 1, 'PuntosAcumulados'] += 50
print(dfUsuario)
print("\n")

# Consulta 11 suma 250 puntos al usuario con id 5
dfUsuario.loc[dfUsuario['IdUsuario'] == 5, 'PuntosAcumulados'] += 250
print(dfUsuario)
print("\n")

# Consulta 12 resta 150 puntos al usuario con id 5
dfUsuario.loc[dfUsuario['IdUsuario'] == 5, 'PuntosAcumulados'] -= 150
print(dfUsuario)

   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                60
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990                30


   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                60
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990               280


   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                60
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990               130

In [152]:
# PUNTO 3 – Implementación de DTO y DAO con Python y Pandas
# ============================================================
# Este código usa el DataFrame dfUsuario que ya existe en el proyecto.

import pandas as pd

# -----------------------------
# 1. DTO (Data Transfer Object)
# -----------------------------
class UsuarioDTO:
    """DTO que representa la entidad USUARIO según el modelo lógico.
    Contiene solo atributos y no tiene lógica adicional.
    """
    def __init__(self, IdUsuario, Nombre, Correo, Telefono, PuntosAcumulados):
        self.IdUsuario = IdUsuario
        self.Nombre = Nombre
        self.Correo = Correo
        self.Telefono = Telefono
        self.PuntosAcumulados = PuntosAcumulados

# -----------------------------
# 2. DAO (Data Access Object)
# -----------------------------
class UsuarioDAO:
    """DAO que gestiona las operaciones sobre el DataFrame dfUsuario,
    simulando las operaciones típicas de una base de datos.
    """
    def __init__(self, df):
        self.df = df

    # INSERT
    def insertar(self, dto):
        nuevo = {
            'IdUsuario': dto.IdUsuario,
            'Nombre': dto.Nombre,
            'Correo': dto.Correo,
            'Telefono': dto.Telefono,
            'PuntosAcumulados': dto.PuntosAcumulados
        }
        self.df.loc[len(self.df)] = nuevo

    # UPDATE
    def actualizar_puntos(self, IdUsuario, puntos_nuevos):
        self.df.loc[self.df['IdUsuario'] == IdUsuario, 'PuntosAcumulados'] = puntos_nuevos

    # SELECT (proyección)
    def obtener_usuario(self, IdUsuario):
        return self.df[self.df['IdUsuario'] == IdUsuario]

    # JOIN simulado con el DataFrame de Transacciones
    def obtener_transacciones_usuario(self, dfTransaccion, IdUsuario):
        return dfTransaccion[dfTransaccion["IdUsuario"] == IdUsuario]

# -----------------------------
# 3. DEMOSTRACIÓN DEL USO DE DTO Y DAO
# -----------------------------

usuarioDAO = UsuarioDAO(dfUsuario)

print("========== ESTADO INICIAL DEL DATAFRAME USUARIO ==========")
print(dfUsuario)
print("\n")

# A. INSERTAR usando DTO + DAO
print("========== INSERTANDO NUEVO USUARIO ==========")
nuevo_usuario = UsuarioDTO(
    IdUsuario=6,
    Nombre="Samuel",
    Correo="samuel@gmail.com",
    Telefono="3201234567",
    PuntosAcumulados=0
)
usuarioDAO.insertar(nuevo_usuario)
print(dfUsuario)
print("\n")

# B. UPDATE
print("========== ACTUALIZANDO PUNTOS DEL USUARIO 6 ==========")
usuarioDAO.actualizar_puntos(6, 150)
print(dfUsuario)
print("\n")

# C. SELECT
print("========== CONSULTA DEL USUARIO 6 ==========")
consulta_usuario = usuarioDAO.obtener_usuario(6)
print(consulta_usuario)
print("\n")

# D. JOIN
print("========== TRANSACCIONES DEL USUARIO 1 ==========")
trans_u1 = usuarioDAO.obtener_transacciones_usuario(dfTransaccion, 1)
print(trans_u1)
print("\n")

print("========== FIN DEL PUNTO 3 ==========")

========== ESTADO INICIAL DEL DATAFRAME USUARIO ==========
   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                10
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990                30


========== INSERTANDO NUEVO USUARIO ==========
   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                10
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990                30
5          6   Samuel    samuel@gmail.com  3201234567                 0


========== ACTUALIZANDO PUNTOS DEL USUARIO 6 ==========
   IdUsuario   Nombre              Correo    Telefono  PuntosAcumulados
0          1   Andrea  Andrea01@gmail.com  3203113669                10
1          2   Carlos  carlos22@gmail.com  3102223344                25
2          3    Luisa   luisa98@gmail.com  3001112233                40
3          4    Jorge   jorge45@gmail.com  3114455667                15
4          5  Tatiana    tati01@gmail.com  3157788990                30
5          6   Samuel    samuel@gmail.com  3201234567               150


========== CONSULTA DEL USUARIO 6 ==========
   IdUsuario  Nombre            Correo    Telefono  PuntosAcumulados
5          6  Samuel  samuel@gmail.com  3201234567               150


========== TRANSACCIONES DEL USUARIO 1 ==========
   IdTransaccion       Fecha  PuntosAcumulados  IdCupon  IdUsuario  IdResiduo
0              1  2025-11-15                20        1          1          1
4              5  2025-11-19                15        2          1          5


========== FIN DEL PUNTO 3 ==========